* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #fafafa;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400px;
  line-height: 14px;
  box-sizing: border-box;
}

a {  
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.container {
  width: 970px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

@media (max-width: 991px) {
  .container {
    max-width: 615px;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  #page-body {
    justify-content: center;
    margin: 0;
  }
}