@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  position: relative;
  min-height: 100vh;
}

body {
  background-color: #fafafa;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400px;
  line-height: 14px;
  box-sizing: border-box;
}

a {  
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.container {
  width: 970px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  padding-bottom: 4em; /* Footer length + 1em space */
}

/* External links */
.url, .url:hover {
  color: #00F;
}

@media (max-width: 991px) {
  .container {
    max-width: 615px;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  #page-body {
    justify-content: center;
    margin: 0;
  }
}