

  .login-beta {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fafafa;
  }
  
  .row-login {
      width: 100%;
      max-width: 935px;
      margin: 30px auto 30px;
  }

  .login-beta > .row-login {
      display: flex;
      padding: 0 80px;
  }

  .phone-app-demo-beta {
    height: 550px;
    flex: 1;
    background-image: url(../../../image/loginimage.png);
    background-repeat: no-repeat;
}

  .form-data-beta {
      width: 100%;
      max-width: 350px;
      margin-top: 30px;
  }

  .form-data-beta form {
      background-color: #fff;
      border: 2px solid #eee;
      display: flex;
      flex-direction: column;
      padding: 20px 40px;
      text-align: center;
  }

.logo-beta img {
    width: 175px;
    margin-bottom: 25px;
}

.form-data-beta form input {
    padding: 8px;
    margin-bottom: 5px;
    border: 2px solid #eee;
    border-radius: 4px;

}

.btn-beta {
    margin: 10px 0 15px;
    height: 30px;
    background-color: #3897f0;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-up-beta {
    text-align: center;
    font-size: 14px;
    color: #262626;
    background-color: #fff;
    padding: 5px 0;
    border: 2px solid #eee;
    margin: 10px 0;
}

.login-input{
    font-size: 1rem;
}
.have-an-account {
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 20px;
}

.have-signup, .have-signup:hover {
    font-weight: 600;
    color: #0095f6;
}
  
@media (max-width: 900px) {
    .phone-app-demo-beta {
        display: none;
    }

    .form-data-beta {
        margin: 0 auto;
    }

    .login-beta > .row-login {
        padding: 0;
    }
}

@media (max-width: 450px) {
    .login-beta {
        padding-top: 0;
    }

    .form-data-beta form {
        background-color: transparent;
        border: none;
        padding: 0 20px;
    }

    .sign-up-beta {
        background-color: transparent;
        border: none;
        padding: 40px 0;
    }
}
