.profile {
  margin: 0 20px;
  width: 100%;
  font-size: 1.3em;
  line-height: 1.5em;
}

.profile-info-header {
  padding-bottom: 44px;
  width: 100%;
}

.profile-image {
  width: 150px;
  height: 150px;
  margin: 0 70px;
}

.profile-username {
  padding-top: 3px;
  font-size: 1.6em;
}

.profile-info-header .button {
  margin: 0 20px;
  padding: 5px 9px;
}

.top-post-menu {
  border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  height: 52px;
  text-transform: uppercase;
}

.top-post-menu div {
  padding-top: 12px;
  margin: 0 30px;
}

.top-post-menu .active {
  border-top: 1px solid rgba(var(--i1d, 38, 38, 38), 1);
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 30px 20px 0;
  }
  .profile {
    margin: 0;
  }
  
}

@media (max-width: 735px) {
  .container {
    padding: 30px 0;
  }
  .profile-image {
    width: 77px;
    height: 77px;
  }
  
}

@media (max-width: 575px) {
  .profile {
    font-size: .9em;
  }
  .profile-info-header {
    padding-bottom: 20px;
  }
  .top-post-menu {
    height: 20px;
  }
 
}

@media (max-width: 500px) {
  .profile .profile-image {
    margin: 0 30px;
  }
}

@media (max-width: 335px) {
  .profile .profile-image {
    margin: 0 10px;
  }
}