.chgpwd-container {
  padding-top: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  height:100%;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
}
.card.chgpwd-card {
  padding: 20px;
  border-radius: 5px;
  width: 600px;
}

div.form-inline label.col-5 {
  justify-content: flex-end;
}
div.error-style {
  text-align: right;
  display: none;
  margin-top: 0.25rem;
  font-size: 13px;
  margin-left: -15px;
}


.chgpwdavatar-img {
  vertical-align: middle;
  height:60px;
  width: 60px;
  border-radius: 50%;
}

.username-h1 {
  padding-bottom: 10px;
  font-size: 20px;
  padding-left: 10px;;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 10px;
}

div.error-stylechgpwd {
  text-align: right;
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 12px;
}


@media (min-width: 576px) and (max-width:875px){
  .password-label{
    text-align: center;
    padding-left: 0;
  }
  .card.chgpwd-card {
    width: 470px;
    margin-right: 0;
    margin-left: 0;
   }
  .submit-btn{
    text-align: center;
  }
  div.error-style {
    text-align: right;
  }
}

@media(min-width :425px) and (max-width:575px) {
  .password-label {
    text-align: left;
    padding-left: 0;
  }
  .card.chgpwd-card {
    width: 350px;
    height: 100%;  
    border: 0;
  }

  .submit-btn{
    float:left
  }
  div.error-style {
    text-align: left;
    margin-left: 0;
  }
}

@media(min-width :320px) and (max-width:424px) {

  .password-label{
    text-align: left;
    padding-left: 0;
  }
  .card.chgpwd-card {
    width: 100%;
    height: 100%;  
    border: 0;
  }
  .submit-btn{
    float:left
  }
  div.error-style {
    text-align: left;
    margin-left: 0;
  }

}
