.create-profile {
    font-size: 12px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.createuser-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.readonly-username.form-control:disabled, .form-control[readonly]{
    background-color:inherit;
    border-color: none;
}
.readonly-username,.form-control:focus  {
    border-color: none;
}

.uploadavatar-card {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
}

.div-editchgpwd {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-createprofile {
    display: block;
    margin: 0 auto;
}

.createprofile-info {
    font-size: 14px;
}

.row {
    width: 100%;
    max-width: 935px;
    margin: 30px auto 0;
}

.create-profile>.row {
    display: flex;
}

.profile-info form {
    background-color: #fff;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 15px 40px;
    text-align: left;
}

.profile-info form input {
    padding: 8px;
    margin-bottom: 5px;
    border: 2px solid #eee;
    border-radius: 4px;
}

h3 {
    margin-top: 20px;
}

.has-separator {
    font-size: 20px;
    color: #d11828;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
}

.btn-chg-avatar.btn:disabled {
    opacity: .55;
}