.single-post {
  width: 600px;
  margin: auto 0;
}

.post-image > img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.sidebar {
  min-height: 300px;
  background-color: #FFF;
  position: relative;
}


.post-details {
  border-top: 1px solid rgb(239, 239, 239);
  background-color: #FFF;
  height: calc(100% - 225px);
  overflow: auto;
}  

.commentor-image {
  max-width: 32px;
  max-height: 32px;
  width: 32px;
  height: 32px;
}

.comment-text {
  display: inline;
  margin-left: 5px;
}

.post-actions {
  position: absolute;
  padding-bottom: 15px;
  border-top: 1px solid rgb(239, 239, 239);
  bottom: 0;
  width: 100%;
}

.actions, .likes {
  margin: 5px 15px;
}

.posted-date {
  /* padding: 13px 0 9px; */
  text-transform: uppercase;
  font-size: .9em;
}

.add-comment-div {
  width: 100%;
  border-top: 1px solid rgb(239, 239, 239);
}

form.add-comment-form, form.add-comment-form .form-control {
  border: none;
  font-size: 1em;
  padding: 0 15px 5px;
  margin: 0;
}

.add-comment-form .form-group {
  margin: 0;
}

.add-comment-form .form-control:focus {
  outline: none;
  box-shadow: none;
}

.add-comment-form > button {
  margin: 0 15px;
  width: calc(100% - 30px);
  font-size: 1em;
  font-weight: 600;
}

.btn-delete-comment {
  margin-left: 15px;
  border-radius: 25px;
}

@media (min-width: 991px) {
  #single-post-div {
    width: 100%;
    border: 1px solid rgb(239, 239, 239);
    display: flex;
    flex-direction: row;
    max-height: 500px;
  }

  .single-post {
    width: 615px;
  }

  .comment-div {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
  }
  .post-details {
    width: 340px;
  }  
}

@media (max-width: 991px) {
  .comments {
    max-height: calc(100% - 215px);
    justify-content: center;
  }
  #single-post-div {
    width: 100%;
    border: 1px solid rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
  }
  .comment-div {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: start;
  }
  .post-details {
    background-color: #FFF;
    width: 600px;
    padding: 0 20px;
  }
}