

.single-post {
  width: 600px;
  margin: auto 0;
}

.post-image > img {
  width: 100%;
}

.comments {
  height: calc(100% - 215px);
  border-top: 1px solid rgb(239, 239, 239);
  border-bottom: 1px solid rgb(239, 239, 239);
  overflow: auto;
}

.commentor-image {
  max-width: 32px;
  max-height: 32px;
  width: 32px;
  height: 32px;
}

.comment-text {
  display: inline;
  margin-left: 5px;
}

.actions {
  padding: 15px 0 0;
  cursor: pointer;
}

.posted-date {
  padding: 13px 0 9px;
  text-transform: uppercase;
}

@media (min-width: 991px) {
  #single-post-div {
    width: 100%;
    border: 1px solid rgb(239, 239, 239);
    display: flex;
    flex-direction: row;
  }
  .comment-div {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-items: start;
  }

  .post-details {
    background-color: #FFF;
    width: 340px;
    padding: 0 20px;
  }
  
}

@media (max-width: 991px) {
  .comments {
    max-height: calc(100% - 215px);
    justify-content: center;
  }

  #single-post-div {
    width: 100%;
    border: 1px solid rgb(239, 239, 239);
    display: flex;
    flex-direction: column;
  }

  .comment-div {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: start;
  }
  
  .post-details {
    background-color: #FFF;
    width: 600px;
    padding: 0 20px;
  }

}