.avatar-img {
  vertical-align: middle;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.username-h1{
  margin-left: 25px;
  padding-bottom: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}
.changepassword-div{
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  color:rgba(var(--i1d,38,38,38),1);
  font-size: 16px;
  font-weight: 500;
  max-width: 45rem;
  width:30rem;
}

.col-form-label{  
  line-height: 1.6;
  text-align:right;
  padding-top: 12px;
}

.col-md-6{
  margin-top: 10px;
  border-radius:6px;
}
.form-control{
  border:1px solid #dbdbdb !important;
  line-height: 20!important;
}
.btn{
  font-weight: 600!important;
  padding: 5px!important;
  cursor: pointer;
  text-align: center;
}
.btn-primary{
  background-color: #3897f0 !important;
  border: 1px solid #3897f0 !important;
  margin: 5px !important;
  border-radius: 6px;
}

.submit-btn{
  margin-top:10px!important;
  max-width:170px;
  width:100%;
  text-align: center!important; 
}
@media (min-width: 768px) and (max-width: 875px) {
  .avatar-img{
    margin-left: 170px;
  }

}
@media (max-width: 768px){
  .col-form-label{
    line-height: 1.5;
    text-align: right!important;
  }
  .changepassword-div{ 
    max-width: 530px;
    width: 100%;
  }
  .avatar-img{
    margin-left: 70px;
  }
}
@media (max-width: 575px){
  .changepassword-div{ 
    margin-left: 50px;
    text-align: center;
    width: 310px;
    /* width: 80%; */
  }
  .avatar-img {
    margin-left: -40px;
  }
  .col-form-label{
    line-height: 1.5;
    text-align: left!important;
  }
}
  
  @media (min-width: 320px) and (max-width: 499px){    
    .col-form-label{
      vertical-align: middle;
      line-height: 1.5;
      text-align: left!important;
    }
    .avatar-img{
      margin-left: 70px;
    }
   
  }