.chgpwd-container {
  padding-top: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  height:100%;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
}
.card.chgpwd-card {
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  height: 350px;
}

div.form-inline label.col-5 {
  justify-content: flex-end;
}

.chgpwdavatar-img {
  vertical-align: middle;
  height:60px;
  width: 60px;
  border-radius: 50%;
}

.username-h1 {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
}


@media (min-width: 576px) and (max-width:875px){
  .password-label{
    text-align: center;
    padding-left: 0;
  }
  .card.chgpwd-card {
    width: 470px;
    margin-right: 0;
    margin-left: 0;
   }
  .submit-btn{
    text-align: center;
  }
}

@media(min-width :425px) and (max-width:575px) {
  .password-label {
    text-align: left;
    padding-left: 0;
  }
  .card.chgpwd-card {
    align-items:center;
    justify-content: center;
    width: 350px;
    height: 100%;  
    border: 0;
  }
  .submit-btn{
    float:left
  }
}

@media(min-width :320px) and (max-width:424px) {

  .password-label{
    text-align: left;
    padding-left: 0;
  }
  .card.chgpwd-card {
    width: 100%;
    height: 100%;
  
    border: 0;
  }
  .submit-btn{
    float:left
  }

}
