.main-wrapper h5 {
  color: #262626;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  margin-top: 15px;
} 
div.row{
  margin: 0;
  padding-bottom: 5px;
}
.main-wrapper {
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
}
.sub-wrapper-div {
  display:flex;
  justify-content: center;
  height:100%;
  align-items: center;
}

.user-container {
  background-color:white;
  border-radius: 15px;
  width: 400px;
  height: 400px;
}
.close {
  float: right;
  text-decoration: none;
  color: black;
  padding-right: 20px;
  font-size: 26px;
  margin-top: -34px;
 }

 div.row{
  margin: 0;
  padding-bottom: 10px;
}
.scrolluser {
  overflow-y: auto;
  max-height: 310px;
}
 .avatar-div{
  margin-left: 0;
  margin-right: 0;
 }
 .userinfo-div{
   margin-left: 0;
   margin-right: 0;
   padding-left: 0;
   padding-right: 0;
}
 .close:hover{
  color: black;
}

.user-avatar{
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-right: 2px;
  vertical-align: middle;
}
.username-link {
  font-size: 15px;
  color: black;
  font-family: inherit;
  font-weight: 600;
 }

.username-link :hover{
  color: black;
}

span.username{
  display:block;
  margin-top: -25px;
  text-align:left;
  padding-left: 10px;
}

span.name{
 display:block; 
 text-align:left;
 padding-left: 10px;
}

div.scrolluser{
  padding-top:5px;
}

button{
  line-height: 2px;
  float: right;
  height: 30px;
}
.col-md-6{
  margin-top: 5px!important;
}
.btn-lg{
font-size: 14px!important;
}
.name{
  color: rgba(var(--f52, 142, 142, 142), 1);
}
.btn-primary-outline {
  background-color: transparent!important;
  border-color: #ccc !important;
}
@media (max-width: 576px) {
  .col-xxs-7, .col-xxs-3{
  float: left;
  }           
.col-sm-3{
width:25%;
 }
.col-sm-6{
width:50%;
 }
}