/* Navbar Component */
.navbar{
  margin-top: -10px;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.navbar-brand{
  font-family: 'Grand Hotel', cursive;
  font-size: 2.1rem;
  font-weight:500 ;
}


.searchIcon{
  left: 11px;
  position: absolute;
  top: 9px;
  z-index: 2;
}

.search-form input{
  font-size: 13px ;
  border: solid 2px rgba(var(--b6a,219,219,219),1) !important;
  border-radius: 3px;
  height: 28px !important;
  min-width: 125px;
  flex: 0 1 auto;
  width: 215px;
  text-align: center;
}

.user-section a{  
  padding-left: 15px;
}
.user-section i.fa{ 
  font-size: 22px;
  color: #000000d4; 
}
