/* SignUp Component CSS starts*/

.col-lg-6{
  padding: 0;
}
.phoneImg{
  max-width: 410px;
  width: 100%;
  float: right;
  height: 618px;
  padding-top: 20px;
  align-items: stretch;
}

.right-column-container{
  padding-top: 50px;
}

.right-column{
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  max-width: 350px;
  border-radius: 1px;
  margin: 5px;
  padding: 30px;
}

.logoText{
  font-family: 'Grand Hotel', cursive;
  font-size: 3.5rem;
  color: #000000
}

.info{
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(var(--f52, 142, 142, 142), 1);
  /* margin: 0 20px 10px; */
  margin: 0 20px 20px;
}
.signup-form{
  display: flex;
  flex-direction: column;
}
.form-group{
  margin-bottom: 6px !important;
}
.form-control{
  background: #fafafa !important;
  border: 1px solid #efefef !important;
  font-size: 16px !important;
  line-height: 20px;
}
::placeholder{
  columns: #999!important;
}

.btn{
  font-weight: 600!important;
  padding: 2px!important;
  margin: 12px auto;
}
.btn-primary{
  background-color: #3897f0 !important;
  border: 1px solid #3897f0 !important;
}

.terms{
  color: rgba(var(--f52,142,142,142),1);
  font-size: 12px;
  line-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 5px;
  text-align: center;
}

.right-column-login{
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 350px;
  margin-left: 5px;
  padding: 10px 0;
}
.have-an-account{
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.right-column-login a:hover{
  text-decoration: none;
}

/********** For MD devices **********/
@media (min-width: 876px) and (max-width: 991px) {
.phoneImg{
  width: 400px;
}
}
@media (min-width: 768px) and (max-width: 875px) {
  .container {
    max-width: 875.33px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /*Hide Phone Image */
  .d-md-block {
    display: none !important;
  }
  .right-column-container {
    padding-top: 40px;
    max-width: 100%;
    margin: 0 auto !important;
  }
  .right-column-login {
    margin:0 5px;

  }
}

/********** XS to Small devices only **********/
@media (min-width: 320px) and (max-width: 767.98px) {
  .container{
    display: flex;
    justify-content: center;
  }
 
  .right-column-container {    
    padding-top: 50px;
    max-width: 100%;
    /* margin: 0 auto !important; */
  }
  .right-column {
    margin-left: 5px;
  }
  .logoText {
    font-size: 3rem;
  }
  .terms{
    margin: 0 -5px;
    font-weight: 400;
  }
  .right-column-login {
    margin: 0 auto;
  }
}

/*border: none forright-Column breakpoint 320px-499px  */
@media (min-width: 320px) and (max-width: 499px){
  .right-column {
    border: none;
  }
  .right-column-login {
    border: none;
  }  
}