.main-wrapper {
  height: 100%;
  padding-top: 50px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0,0,0,.5);
  outline:0;
}
.subwrapper-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.unfollow-card {
  width: 400px!important;
  height: 311px;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
}

form.following-form{
  width: 400px!important;
}
img.avatar-img-unfollow{
  margin: 32px 16px 16px;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.info-p {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.btn-unfollow {
  color: rgba(var(--i30, 237, 73, 86), 1);
  background-color: white;
  text-align: center;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}
button:focus{

  outline:0;
}
.link-cancel{
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  cursor: pointer;
  line-height: 1.5;
}

@media(min-width:320px) and (max-width:576px) {
  .subwrapper-div {
    width: 260px !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}